.notExist {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #ffbb007e, #ff7830a4);
  /* background-clip: text; */
  color: black;
}

.opps {
  text-align: center;
  margin-top: 0;
  padding: 30px;
}

.backToHome{
height: 30px;
border-radius: 20px;
border-color:yellowgreen;
}
